

<mat-card>

    <mat-card-header>
        <h1>User Registration</h1>
    </mat-card-header>

    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName = "id">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName = "name">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
              <mat-label>Mail</mat-label>
              <input matInput formControlName = "mail" type="email" placeholder="Ex. abc@ymail.com">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName = "phone">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput formControlName = "password" type="password">
            </mat-form-field>
    
            <mat-radio-group aria-label="gender" formControlName="gender" style="margin-left: auto;">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
            </mat-radio-group>


            <div style="margin-top: 20px;">
            <button mat-raised-button color="primary" onclick="proceedregistration()">Submit</button>
            <a routerLink="/login" mat-raised-button color="accent" style="margin-left: 15px;">Back to Login</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>



